.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
Paris_Project_Presentation.html
Paris_Project_Presentation_files
DATA
dvf2020-2025.csv
dvf2014-2018.csv
DVFcleaning.rmarkdown
dvf.csv
table_passage_1999_2022.csv
Cleaning.R
BASE_TD_FILO_DEC_IRIS_2018.csv
BASE_TD_FILO_IRIS_2021_DEC.csv
ValeursFoncieres-2022.txt
valeursfoncieres-2014.txt
data_git/
*.zip
*.html

*.csv
*.txt
DVFcleaning.qmd
Test BPE.R
table_passage_1999_2022.csv
DVF_Test.R
DATA_Raw/*

!DATA_Raw/BASE_TD_FILO_DEC_IRIS_2015.xls
!DATA_Raw/BASE_TD_FILO_DEC_IRIS_2016.xls
!DATA_Raw/BASE_TD_FILO_DEC_IRIS_2018.xlsx
!DATA_Raw/BASE_TD_FILO_DEC_IRIS_2020.xlsx
!DATA_Raw/BASE_TD_FILO_IRIS_2021_DEC.xlsx
!DATA_Raw/table_passage_1999_2022.csv
!DATA_Raw/BPE_Paris_2016.rds
!DATA_Raw/BPE_Paris_2024.rds
!DATA_Raw/BPE_Paris_2018.rds
!DATA_Raw/base-ic-activite-residents-2018.CSV
!DATA_Raw/base-ic-activite-residents-2019.CSV
!DATA_Raw/base-ic-activite-residents-2020.CSV
!DATA_Raw/base-ic-activite-residents-2021.CSV
!DATA_Raw/base-ic-activite-residents-2022.CSV
!DATA_Raw/DVF_Paris_2020_25.rds
!DATA_Raw/CONTOURS-IRIS_2-1_SHP_LAMB93_FXX-2020
!DATA_Raw/DVF_Paris_2014_18.rds
!DATA_Raw/BPE24_liste_hierarchisee_TYPEQU.html
!DATA_Raw/BPE1621_nb_equip_UU2020_DictionnaireVariables.pdf

